GateWayTermo.json
[
    {
        "id": "cabc8ed1.36443",
        "type": "tab",
        "label": "TERMO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ca3ef94.b672f",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001",
        "topic": "homie/termo001/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 80,
        "y": 540,
        "wires": [
            [
                "f4d675a5.069bd8",
                "f3ec1c0f.2cab6"
            ]
        ]
    },
    {
        "id": "d2bdb8b4.3e2a78",
        "type": "influxdb out",
        "z": "cabc8ed1.36443",
        "influxdb": "303eb12d.08bf0e",
        "name": "Termo",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 570,
        "y": 540,
        "wires": []
    },
    {
        "id": "f4d675a5.069bd8",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Convert to JSON",
        "func": "var tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1];\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n    if (timestamp === null) {\n\n        msg.measurement=\"chronology\";\n        msg.payload = {\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n        \n    } else {\n        msg=\"\";\n    }\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "d2bdb8b4.3e2a78"
            ]
        ]
    },
    {
        "id": "ed2cdb96.a0de38",
        "type": "mqtt out",
        "z": "cabc8ed1.36443",
        "name": "Pub_Consigna_Set",
        "topic": "homie/termo001/termostato/consigna/set",
        "qos": "1",
        "retain": "true",
        "broker": "7178966f.9a3d58",
        "x": 810,
        "y": 2320,
        "wires": []
    },
    {
        "id": "50cb83a.e728d7c",
        "type": "mqtt out",
        "z": "cabc8ed1.36443",
        "name": "Pub_Histeresis_Set",
        "topic": "homie/termo001/termostato/histeresis/set",
        "qos": "1",
        "retain": "true",
        "broker": "7178966f.9a3d58",
        "x": 810,
        "y": 2400,
        "wires": []
    },
    {
        "id": "d06c7070.c8632",
        "type": "mqtt out",
        "z": "cabc8ed1.36443",
        "name": "Pub_Resis_Modo_Set",
        "topic": "homie/termo001/resistencia/modo/set",
        "qos": "1",
        "retain": "true",
        "broker": "7178966f.9a3d58",
        "x": 820,
        "y": 2460,
        "wires": []
    },
    {
        "id": "92bee290.29c1a",
        "type": "ui_slider",
        "z": "cabc8ed1.36443",
        "name": "Consigna",
        "label": "Temperatura Deseada",
        "tooltip": "",
        "group": "961343ff.06e1a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "80",
        "step": 1,
        "x": 560,
        "y": 2320,
        "wires": [
            [
                "ed2cdb96.a0de38"
            ]
        ]
    },
    {
        "id": "2f1da4dc.6f112c",
        "type": "ui_gauge",
        "z": "cabc8ed1.36443",
        "name": "Gauge_Consigna",
        "group": "e21e3eb2.e5a51",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura deseada",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ffff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350,
        "y": 2320,
        "wires": []
    },
    {
        "id": "eff918a4.c40738",
        "type": "ui_slider",
        "z": "cabc8ed1.36443",
        "name": "Histeresis",
        "label": "Histeresis",
        "tooltip": "",
        "group": "961343ff.06e1a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "1",
        "max": "20",
        "step": 1,
        "x": 560,
        "y": 2400,
        "wires": [
            [
                "50cb83a.e728d7c"
            ]
        ]
    },
    {
        "id": "f131a14a.dc55e",
        "type": "ui_gauge",
        "z": "cabc8ed1.36443",
        "name": "Gauge_Temperatura_Real",
        "group": "ff90af17.3c404",
        "order": 4,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temp Actual",
        "label": "°C",
        "format": "{{msg.payload.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ffff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "13cc0a6f.6ddca6",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001-SD",
        "topic": "homie/termo001/sd/estado",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "45450772.13f138",
                "ca3b8671.895fd8",
                "46fe6fdc.70a34"
            ]
        ]
    },
    {
        "id": "45450772.13f138",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "fabe1b58.73bc08",
        "type": "inject",
        "z": "cabc8ed1.36443",
        "name": "Start-SD",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1640,
        "wires": [
            [
                "1bfa1577.e5adbb"
            ]
        ]
    },
    {
        "id": "a1315c3d.f30e4",
        "type": "mqtt out",
        "z": "cabc8ed1.36443",
        "name": "Pub_SD",
        "topic": "homie/termo001/sd/download/",
        "qos": "1",
        "retain": "true",
        "broker": "7178966f.9a3d58",
        "x": 660,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c527f4b1.e26fc8",
        "type": "influxdb in",
        "z": "cabc8ed1.36443",
        "influxdb": "5c711447.bed99c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 670,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "2db3ff2b.ef62e",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Query",
        "func": "msg.query=msg.payload;\nmsg.payload=\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1940,
        "wires": [
            [
                "c527f4b1.e26fc8"
            ]
        ]
    },
    {
        "id": "28083dc6.318d22",
        "type": "ui_text",
        "z": "cabc8ed1.36443",
        "group": "ff90af17.3c404",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "Status",
        "label": "Estado Termo",
        "format": "{{msg.payload | uppercase}} ",
        "layout": "row-spread",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "9faccde8.62db4",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Status",
        "func": "node.status({'text':msg.payload});\nflow.set(\"status\",msg.payload);\nif (msg.payload!=\"ready\"){\n    msg.payload=msg.payload+\" - Displaying last known\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "28083dc6.318d22"
            ]
        ]
    },
    {
        "id": "c6d8cae3.31e9a8",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "",
        "topic": "homie/termo001/$state",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "9faccde8.62db4",
                "601478e.4402d88",
                "1f101fdf.227ff"
            ]
        ]
    },
    {
        "id": "ed92cece.d90cf",
        "type": "ui_dropdown",
        "z": "cabc8ed1.36443",
        "name": "Modo",
        "label": "Selector de modo",
        "tooltip": "",
        "place": "Mode de funcionament",
        "group": "961343ff.06e1a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Automático",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Manual paro",
                "value": "manualOFF",
                "type": "str"
            },
            {
                "label": "Manual marxa",
                "value": "manualON",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Modo",
        "x": 550,
        "y": 2460,
        "wires": [
            [
                "d06c7070.c8632"
            ]
        ]
    },
    {
        "id": "4f61aa57.5cbfd4",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Ec2_Sub_Consigna",
        "topic": "homie/termo001/termostato/consigna/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "9949ddaf.7556b",
        "x": 130,
        "y": 2320,
        "wires": [
            [
                "3738c964.0911d6",
                "92bee290.29c1a"
            ]
        ]
    },
    {
        "id": "663d26e0.429b18",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Ec2_Sub_Histeresis",
        "topic": "homie/termo001/termostato/histeresis/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "9949ddaf.7556b",
        "x": 130,
        "y": 2400,
        "wires": [
            [
                "eff918a4.c40738",
                "14fbeeb1.e46581"
            ]
        ]
    },
    {
        "id": "26d8d7a.3e87a28",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Ec2_Sub_Resis_Modo",
        "topic": "homie/termo001/resistencia/modoec2/set",
        "qos": "0",
        "datatype": "utf8",
        "broker": "9949ddaf.7556b",
        "x": 140,
        "y": 2500,
        "wires": [
            [
                "3f39b86b.81d678",
                "d79e20f0.cf828"
            ]
        ]
    },
    {
        "id": "e9575819.65dc98",
        "type": "mqtt out",
        "z": "cabc8ed1.36443",
        "name": "EC2_Pub_Termo001",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "9949ddaf.7556b",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "601478e.4402d88",
        "type": "mqtt out",
        "z": "cabc8ed1.36443",
        "name": "Ec2_Pub_State",
        "topic": "homie/termo001/$state",
        "qos": "1",
        "retain": "false",
        "broker": "9949ddaf.7556b",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "fa25d5ae.e546b8",
        "type": "inject",
        "z": "cabc8ed1.36443",
        "name": "Drop chronology",
        "topic": "",
        "payload": "DROP MEASUREMENT chronology",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 1940,
        "wires": [
            [
                "2db3ff2b.ef62e"
            ]
        ]
    },
    {
        "id": "389a3db9.ffb4a2",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/Consigna",
        "topic": "homie/termo001/termostato/consigna",
        "qos": "1",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 1050,
        "y": 2320,
        "wires": [
            [
                "2f1da4dc.6f112c"
            ]
        ]
    },
    {
        "id": "fba90454.c0cb68",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/Histeresis",
        "topic": "homie/termo001/termostato/histeresis",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 1050,
        "y": 2400,
        "wires": [
            [
                "a0d9eacd.53f1d8"
            ]
        ]
    },
    {
        "id": "e777475f.ba3648",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/Modo",
        "topic": "homie/termo001/resistencia/modo",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 1040,
        "y": 2460,
        "wires": [
            [
                "7cea7206.6c1adc"
            ]
        ]
    },
    {
        "id": "24010894.828528",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/temperatura",
        "topic": "homie/termo001/termostato/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "3266a95a.a0cec6",
                "114ecb5c.b37fb5"
            ]
        ]
    },
    {
        "id": "3266a95a.a0cec6",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 350,
        "y": 720,
        "wires": []
    },
    {
        "id": "8eca5b31.cd1928",
        "type": "influxdb out",
        "z": "cabc8ed1.36443",
        "influxdb": "303eb12d.08bf0e",
        "name": "Termo/Temperatura",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 650,
        "y": 840,
        "wires": []
    },
    {
        "id": "114ecb5c.b37fb5",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Convert to JSON",
        "func": "\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n    msg.measurement=\"temperatura\";\n    msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "7b26b760.3061f8",
                "a9dfc70f.6da3f8",
                "8eca5b31.cd1928"
            ]
        ]
    },
    {
        "id": "7b26b760.3061f8",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "parseTemp",
        "func": "var tmp = msg.payload.value\nif(msg.payload.property==\"temperatura\"){\n    msg.payload.value = parseFloat(tmp);\n    node.status({'text':tmp});\n    \n\n    \n}\nelse{\n    msg='';\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 780,
        "wires": [
            [
                "f131a14a.dc55e"
            ]
        ]
    },
    {
        "id": "6f81e5c8.1d03bc",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "timeConvert",
        "func": "if ( !msg.timestamp ) msg.timestamp = new Date();\n\nvar dt = new Date(msg.timestamp);\nvar newMsg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate()  ,\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'secs':     dt.getSeconds(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nvar tmp =''.concat(newMsg.day.toString(),'-',\n            newMsg.month.toString(),'-',\n            newMsg.year.toString(),' ',\n            newMsg.hours.toString(),':',\n            newMsg.mins.toString(),':',\n            newMsg.secs.toString());\n    node.status({'text':tmp});\n\nnewMsg.payload=tmp;\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 720,
        "wires": [
            [
                "41d5f417.c4381c",
                "cbbda015.fc7d2"
            ]
        ]
    },
    {
        "id": "41d5f417.c4381c",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1010,
        "y": 660,
        "wires": []
    },
    {
        "id": "a9dfc70f.6da3f8",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "set timestamp",
        "func": "msg.timestamp=msg.payload.time / 1000000;\nnode.status({'text':msg.timestamp});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 720,
        "wires": [
            [
                "6f81e5c8.1d03bc"
            ]
        ]
    },
    {
        "id": "84637596.d03788",
        "type": "ui_led",
        "z": "cabc8ed1.36443",
        "group": "ff90af17.3c404",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "Resistencia encendida",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "GREEN",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Resistencia encendida",
        "x": 880,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8eb435c.5f88dc8",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/resistencia",
        "topic": "homie/termo001/resistencia/encendida",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "52decdbd.5a9b94",
                "d11b62a1.f0362"
            ]
        ]
    },
    {
        "id": "52decdbd.5a9b94",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 350,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d3254712.4ea4a8",
        "type": "influxdb out",
        "z": "cabc8ed1.36443",
        "influxdb": "303eb12d.08bf0e",
        "name": "Termo/resistencia",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 650,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d11b62a1.f0362",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Convert to JSON",
        "func": "\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n\n        msg.measurement=\"resistencia\";\n        msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "6c0822dd.00045c",
                "d3254712.4ea4a8"
            ]
        ]
    },
    {
        "id": "6c0822dd.00045c",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "ParseResistencia",
        "func": "\nif(msg.payload.node==='resistencia' && msg.payload.property==='encendida'){\n    node.status({'text':msg.payload.value});\n    msg.payload = msg.payload.value;\n    \n}\n\nelse{\n    msg='';\n    \n}\n\n\nreturn msg;    \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1160,
        "wires": [
            [
                "84637596.d03788"
            ]
        ]
    },
    {
        "id": "84e6225.a685fe",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/caudal",
        "topic": "homie/termo001/caudalimetro/caudal",
        "qos": "0",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "591888c6.b979d8",
                "9a714280.c9908"
            ]
        ]
    },
    {
        "id": "591888c6.b979d8",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 350,
        "y": 880,
        "wires": []
    },
    {
        "id": "835ba7a4.977048",
        "type": "influxdb out",
        "z": "cabc8ed1.36443",
        "influxdb": "303eb12d.08bf0e",
        "name": "Termo/caudal",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9a714280.c9908",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Convert to JSON",
        "func": "\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n\n    msg.measurement=\"caudal\";\n    msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 940,
        "wires": [
            [
                "ea3a215a.3e054",
                "835ba7a4.977048"
            ]
        ]
    },
    {
        "id": "ea3a215a.3e054",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "parseCaudalimetro",
        "func": "var tmp = msg.payload.value\nif(msg.payload.property===\"caudal\"){\n    msg.payload.value = parseFloat(tmp);\n    node.status({'text':tmp});\n    \n\n    \n}\nelse{\n    msg='';\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 940,
        "wires": [
            [
                "51047aaa.4d32e4"
            ]
        ]
    },
    {
        "id": "51047aaa.4d32e4",
        "type": "ui_gauge",
        "z": "cabc8ed1.36443",
        "name": "Gauge_Caudal_Real",
        "group": "ff90af17.3c404",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Caudal actual",
        "label": "l/min",
        "format": "{{msg.payload.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#000000",
            "#00ffff",
            "#0000ff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880,
        "y": 940,
        "wires": []
    },
    {
        "id": "2b103663.bbd5fa",
        "type": "inject",
        "z": "cabc8ed1.36443",
        "name": "Drop temperatura",
        "topic": "",
        "payload": "DROP MEASUREMENT temperatura",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 2000,
        "wires": [
            [
                "2db3ff2b.ef62e"
            ]
        ]
    },
    {
        "id": "6fc515c5.c6a55c",
        "type": "inject",
        "z": "cabc8ed1.36443",
        "name": "Drop resistencia",
        "topic": "",
        "payload": "DROP MEASUREMENT resistencia",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 2140,
        "wires": [
            [
                "2db3ff2b.ef62e"
            ]
        ]
    },
    {
        "id": "ccb30816.720ac8",
        "type": "inject",
        "z": "cabc8ed1.36443",
        "name": "Drop caudalimetro",
        "topic": "",
        "payload": "DROP MEASUREMENT caudalimetro",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 2060,
        "wires": [
            [
                "2db3ff2b.ef62e"
            ]
        ]
    },
    {
        "id": "c5cb7591.e28b78",
        "type": "comment",
        "z": "cabc8ed1.36443",
        "name": "Lectura de variables",
        "info": "Lectura de variables",
        "x": 110,
        "y": 440,
        "wires": []
    },
    {
        "id": "7a158cc1.1baf74",
        "type": "comment",
        "z": "cabc8ed1.36443",
        "name": "reset de tablas de la DB",
        "info": "reset de tablas de la DB",
        "x": 140,
        "y": 1880,
        "wires": []
    },
    {
        "id": "b754354b.5ff968",
        "type": "comment",
        "z": "cabc8ed1.36443",
        "name": "Control de regulación del termo",
        "info": "Control de regulación del termo\n\nEl modo de regulación no lo debe manipular el usuario",
        "x": 170,
        "y": 2260,
        "wires": []
    },
    {
        "id": "cbbda015.fc7d2",
        "type": "ui_text",
        "z": "cabc8ed1.36443",
        "group": "ff90af17.3c404",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Última comunicación",
        "label": "Última comunicación:",
        "format": "{{msg.payload | uppercase}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "ca3b8671.895fd8",
        "type": "ui_text",
        "z": "cabc8ed1.36443",
        "group": "ff90af17.3c404",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Estado memoria SD",
        "label": "Estado SD:",
        "format": "{{msg.payload | uppercase}} ",
        "layout": "row-spread",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "a0d9eacd.53f1d8",
        "type": "ui_gauge",
        "z": "cabc8ed1.36443",
        "name": "Gauge_Histeresis",
        "group": "e21e3eb2.e5a51",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Histeresis",
        "label": "°C",
        "format": "{{value}}",
        "min": "3",
        "max": "20",
        "colors": [
            "#ffff00",
            "#ffff00",
            "#ffff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350,
        "y": 2400,
        "wires": []
    },
    {
        "id": "7cea7206.6c1adc",
        "type": "ui_text",
        "z": "cabc8ed1.36443",
        "group": "e21e3eb2.e5a51",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Modo Funcionamiento",
        "label": "Modo funcionamiento:",
        "format": "{{msg.payload | uppercase}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 2460,
        "wires": []
    },
    {
        "id": "b2e44e2.a25fbb",
        "type": "ui_toast",
        "z": "cabc8ed1.36443",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Alerta ",
        "name": "Dialogo Alerta",
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1f101fdf.227ff",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Status",
        "func": "\nif (msg.payload == \"Alert\"){\n    msg.payload=msg.payload\n    return msg;\n} else \n    msg.payload='';\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "b2e44e2.a25fbb"
            ]
        ]
    },
    {
        "id": "d237d1f4.3db2c",
        "type": "comment",
        "z": "cabc8ed1.36443",
        "name": "Estado del Termo i de la SD",
        "info": "Lectura de variables",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "46fe6fdc.70a34",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Status",
        "func": "\nnode.status({'text':msg.payload});\nif (msg.payload == \"ready\"){\n    msg.payload=\"start\"\n    return msg;\n} else \n    msg.payload='';\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3f39b86b.81d678",
        "type": "delay",
        "z": "cabc8ed1.36443",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 380,
        "y": 2500,
        "wires": [
            [
                "ed92cece.d90cf"
            ]
        ]
    },
    {
        "id": "d79e20f0.cf828",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 2640,
        "wires": []
    },
    {
        "id": "14fbeeb1.e46581",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 2440,
        "wires": []
    },
    {
        "id": "3738c964.0911d6",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 2360,
        "wires": []
    },
    {
        "id": "39a14270.3a3fde",
        "type": "influxdb in",
        "z": "cabc8ed1.36443",
        "influxdb": "5c711447.bed99c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "867c3733.ae4d18"
            ]
        ]
    },
    {
        "id": "867c3733.ae4d18",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "f3ec1c0f.2cab6",
        "type": "queue",
        "z": "cabc8ed1.36443",
        "name": "queue",
        "connected": "connected",
        "connectedType": "str",
        "disconnected": "",
        "disconnectedType": "str",
        "sqlite": "/home/pi/queue.sqlite",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "e9575819.65dc98"
            ]
        ]
    },
    {
        "id": "65b4b665.0888a8",
        "type": "status",
        "z": "cabc8ed1.36443",
        "name": "Status MQTT Ec2",
        "scope": [
            "e9575819.65dc98"
        ],
        "x": 130,
        "y": 640,
        "wires": [
            [
                "f3ec1c0f.2cab6"
            ]
        ]
    },
    {
        "id": "ec7c701f.91aac",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/SD",
        "topic": "homie/termo001/sd/dump",
        "qos": "1",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 110,
        "y": 1420,
        "wires": [
            [
                "57e67433.eea95c",
                "9c60cada.1d9078",
                "56281622.b7b588"
            ]
        ]
    },
    {
        "id": "57e67433.eea95c",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 370,
        "y": 1360,
        "wires": []
    },
    {
        "id": "a75a3e39.d9755",
        "type": "influxdb out",
        "z": "cabc8ed1.36443",
        "influxdb": "303eb12d.08bf0e",
        "name": "Termo SD",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 760,
        "y": 1420,
        "wires": []
    },
    {
        "id": "9c60cada.1d9078",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Convert to JSON",
        "func": "\nvar topicos= msg.topic;\nvar dump = msg.payload.split(\"<\");\n\nvar dumpTopic = dump[0];\nvar dumpValue = dump[1];\n\nvar tokens = dumpTopic.split(\"/\");\n\nvar payload = dumpValue.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\nswitch(payload[0])\n{\n\n    case 'false':\n        value='false';\n        break;\n    case 'true':\n        value='true';\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\n\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n        switch (tokens[3]){\n            \n            case \"temperatura\":\n                msg.measurement=\"temperatura\";\n                break;\n            case \"caudal\":\n                msg.measurement=\"caudal\";\n                break;\n            case \"resistencia\":\n                msg.measurement=\"resistencia\";\n                break;\n        }\n        \n        msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1420,
        "wires": [
            [
                "3a4219ae.ffac86",
                "a75a3e39.d9755"
            ]
        ]
    },
    {
        "id": "3a4219ae.ffac86",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 1360,
        "wires": []
    },
    {
        "id": "2e2b1cfc.4ec574",
        "type": "mqtt out",
        "z": "cabc8ed1.36443",
        "name": "EC2_Pub_Termo001",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "9949ddaf.7556b",
        "x": 740,
        "y": 1500,
        "wires": []
    },
    {
        "id": "56281622.b7b588",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Convert to MQTT",
        "func": "var dump = msg.payload.split(\"<\");\n\nvar dumpTopic = dump[0];\nvar dumpValue = dump[1];\n\nmsg.topic = dump[0];\nmsg.payload = dump[1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1500,
        "wires": [
            [
                "2e2b1cfc.4ec574",
                "84c84e6f.a693d"
            ]
        ]
    },
    {
        "id": "84c84e6f.a693d",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1bfa1577.e5adbb",
        "type": "function",
        "z": "cabc8ed1.36443",
        "name": "Start-stop SD",
        "func": "var status = flow.get(\"status\");\nvar sdstatus = msg.payload;\n\nif ( status == 'ready' && msg.payload =='ready'){\n    msg.payload = 'start';\n}else\n    msg.payload = 'stop';\n node.status({'text':msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 1700,
        "wires": [
            [
                "a1315c3d.f30e4",
                "6ef0d337.b6befc"
            ]
        ]
    },
    {
        "id": "6ef0d337.b6befc",
        "type": "debug",
        "z": "cabc8ed1.36443",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 1760,
        "wires": []
    },
    {
        "id": "e81a608f.d1c3",
        "type": "mqtt in",
        "z": "cabc8ed1.36443",
        "name": "Termo001/SD",
        "topic": "homie/termo001/sd/estado",
        "qos": "1",
        "datatype": "auto",
        "broker": "7178966f.9a3d58",
        "x": 110,
        "y": 1700,
        "wires": [
            [
                "1bfa1577.e5adbb"
            ]
        ]
    },
    {
        "id": "c8468602.9fb438",
        "type": "comment",
        "z": "cabc8ed1.36443",
        "name": "Publicación de los mensages que vienen de la SD",
        "info": "reset de tablas de la DB",
        "x": 210,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7178966f.9a3d58",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": "8883",
        "tls": "d40401eb.f855a",
        "clientid": "RpiNode001",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "303eb12d.08bf0e",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "TERMO",
        "name": "TermoDB",
        "usetls": false,
        "tls": "60271a13.e95ce4"
    },
    {
        "id": "961343ff.06e1a",
        "type": "ui_group",
        "z": "",
        "name": "Edición de consignas",
        "tab": "93ce8219.5f233",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e21e3eb2.e5a51",
        "type": "ui_group",
        "z": "",
        "name": "Estado regulación termo",
        "tab": "93ce8219.5f233",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ff90af17.3c404",
        "type": "ui_group",
        "z": "",
        "name": "Estado termo",
        "tab": "93ce8219.5f233",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5c711447.bed99c",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "TERMO",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "9949ddaf.7556b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto EC2",
        "broker": "34.255.208.144",
        "port": "1883",
        "tls": "e53ff251.ba542",
        "clientid": "Rpi001",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "homie/Gateway/$state",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "ready",
        "closeTopic": "homie/Gateway/$state",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "disconnect",
        "willTopic": "homie/Gateway/$state",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "Error"
    },
    {
        "id": "d40401eb.f855a",
        "type": "tls-config",
        "z": "",
        "name": "local-tls",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "60271a13.e95ce4",
        "type": "tls-config",
        "z": "",
        "name": "TLS Mosquitto Raspberry",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "93ce8219.5f233",
        "type": "ui_tab",
        "z": "",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e53ff251.ba542",
        "type": "tls-config",
        "z": "",
        "name": "TLS Mosquitto Ec2",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    }
]
