GateWayTermo.json
[{"id":"cabc8ed1.36443","type":"tab","label":"TERMO","disabled":false,"info":""},{"id":"7ca3ef94.b672f","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001","topic":"homie/termo001/#","qos":"1","datatype":"auto","broker":"7178966f.9a3d58","x":80,"y":540,"wires":[["f416675b.8e1cb8","e9575819.65dc98","f4d675a5.069bd8"]]},{"id":"f416675b.8e1cb8","type":"debug","z":"cabc8ed1.36443","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":480,"wires":[]},{"id":"d2bdb8b4.3e2a78","type":"influxdb out","z":"cabc8ed1.36443","influxdb":"303eb12d.08bf0e","name":"Termo","measurement":"","precision":"","retentionPolicy":"","x":570,"y":540,"wires":[]},{"id":"f4d675a5.069bd8","type":"function","z":"cabc8ed1.36443","name":"Convert to JSON","func":"var tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1];\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n    if (timestamp === null) {\n\n        msg.measurement=\"chronology\";\n        msg.payload = {\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n        \n    } else {\n        msg=\"\";\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["d2bdb8b4.3e2a78","bbcc3fb.9245fc"]]},{"id":"ed2cdb96.a0de38","type":"mqtt out","z":"cabc8ed1.36443","name":"Pub_Consigna_Set","topic":"homie/termo001/termostato/consigna/set","qos":"1","retain":"true","broker":"7178966f.9a3d58","x":610,"y":1820,"wires":[]},{"id":"50cb83a.e728d7c","type":"mqtt out","z":"cabc8ed1.36443","name":"Pub_Histeresis_Set","topic":"homie/termo001/termostato/histeresis/set","qos":"1","retain":"true","broker":"7178966f.9a3d58","x":610,"y":1900,"wires":[]},{"id":"d06c7070.c8632","type":"mqtt out","z":"cabc8ed1.36443","name":"Pub_Resis_Modo_Set","topic":"homie/termo001/resistencia/modo/set","qos":"1","retain":"true","broker":"7178966f.9a3d58","x":620,"y":1960,"wires":[]},{"id":"92bee290.29c1a","type":"ui_slider","z":"cabc8ed1.36443","name":"Consigna","label":"Temperatura Deseada","tooltip":"","group":"961343ff.06e1a","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"80","step":1,"x":360,"y":1820,"wires":[["ed2cdb96.a0de38"]]},{"id":"2f1da4dc.6f112c","type":"ui_gauge","z":"cabc8ed1.36443","name":"Gauge_Consigna","group":"e21e3eb2.e5a51","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura deseada","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ffff00","#ca3838"],"seg1":"","seg2":"","x":1150,"y":1820,"wires":[]},{"id":"eff918a4.c40738","type":"ui_slider","z":"cabc8ed1.36443","name":"Histeresis","label":"Histeresis","tooltip":"","group":"961343ff.06e1a","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"3","max":"20","step":1,"x":360,"y":1900,"wires":[["50cb83a.e728d7c"]]},{"id":"f131a14a.dc55e","type":"ui_gauge","z":"cabc8ed1.36443","name":"Gauge_Temperatura_Real","group":"ff90af17.3c404","order":4,"width":"0","height":"0","gtype":"gage","title":"Temp Actual","label":"°C","format":"{{msg.payload.value}}","min":0,"max":"100","colors":["#00b500","#ffff00","#ca3838"],"seg1":"","seg2":"","x":880,"y":720,"wires":[]},{"id":"13cc0a6f.6ddca6","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001-SD","topic":"homie/termo001/sd/estado","qos":"0","datatype":"auto","broker":"7178966f.9a3d58","x":90,"y":340,"wires":[["45450772.13f138","ca3b8671.895fd8","46fe6fdc.70a34"]]},{"id":"45450772.13f138","type":"debug","z":"cabc8ed1.36443","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":300,"wires":[]},{"id":"fabe1b58.73bc08","type":"inject","z":"cabc8ed1.36443","name":"Start-SD","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2140,"wires":[["a1315c3d.f30e4"]]},{"id":"a1315c3d.f30e4","type":"mqtt out","z":"cabc8ed1.36443","name":"Pub_SD","topic":"homie/termo001/sd/download/","qos":"1","retain":"true","broker":"7178966f.9a3d58","x":320,"y":2140,"wires":[]},{"id":"bbcc3fb.9245fc","type":"debug","z":"cabc8ed1.36443","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":480,"wires":[]},{"id":"c527f4b1.e26fc8","type":"influxdb in","z":"cabc8ed1.36443","influxdb":"5c711447.bed99c","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":670,"y":1380,"wires":[[]]},{"id":"2db3ff2b.ef62e","type":"function","z":"cabc8ed1.36443","name":"Query","func":"msg.query=msg.payload;\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1380,"wires":[["c527f4b1.e26fc8"]]},{"id":"28083dc6.318d22","type":"ui_text","z":"cabc8ed1.36443","group":"ff90af17.3c404","order":1,"width":"5","height":"1","name":"Status","label":"Estado Termo","format":"{{msg.payload | uppercase}} ","layout":"row-spread","x":590,"y":80,"wires":[]},{"id":"9faccde8.62db4","type":"function","z":"cabc8ed1.36443","name":"","func":"\nif (msg.payload!=\"ready\"){\n    msg.payload=msg.payload+\" - Displaying last known\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["28083dc6.318d22"]]},{"id":"c6d8cae3.31e9a8","type":"mqtt in","z":"cabc8ed1.36443","name":"","topic":"homie/termo001/$state","qos":"0","datatype":"auto","broker":"7178966f.9a3d58","x":120,"y":80,"wires":[["9faccde8.62db4","601478e.4402d88","1f101fdf.227ff"]]},{"id":"ed92cece.d90cf","type":"ui_dropdown","z":"cabc8ed1.36443","name":"Modo","label":"Selector de modo","tooltip":"","place":"Mode de funcionament","group":"961343ff.06e1a","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Automático","value":"auto","type":"str"},{"label":"Manual paro","value":"manualOFF","type":"str"},{"label":"Manual marxa","value":"manualON","type":"str"}],"payload":"","topic":"Modo","x":350,"y":1960,"wires":[["d06c7070.c8632"]]},{"id":"4f61aa57.5cbfd4","type":"mqtt in","z":"cabc8ed1.36443","name":"Ec2_Sub_Consigna","topic":"homie/termo001/termostato/consigna/set","qos":"0","datatype":"auto","broker":"9949ddaf.7556b","x":130,"y":1820,"wires":[["92bee290.29c1a"]]},{"id":"663d26e0.429b18","type":"mqtt in","z":"cabc8ed1.36443","name":"Ec2_Sub_Histeresis","topic":"homie/termo001/termostato/histeresis/set","qos":"0","datatype":"auto","broker":"9949ddaf.7556b","x":130,"y":1900,"wires":[["eff918a4.c40738"]]},{"id":"26d8d7a.3e87a28","type":"mqtt in","z":"cabc8ed1.36443","name":"Ec2_Sub_Resis_Modo","topic":"homie/termo001/resistencia/modo/set","qos":"0","datatype":"auto","broker":"9949ddaf.7556b","x":140,"y":2060,"wires":[[]]},{"id":"e9575819.65dc98","type":"mqtt out","z":"cabc8ed1.36443","name":"EC2_Pub_Termo001","topic":"","qos":"2","retain":"true","broker":"9949ddaf.7556b","x":320,"y":600,"wires":[]},{"id":"601478e.4402d88","type":"mqtt out","z":"cabc8ed1.36443","name":"Ec2_Pub_State","topic":"homie/termo001/$state","qos":"1","retain":"true","broker":"9949ddaf.7556b","x":380,"y":220,"wires":[]},{"id":"fa25d5ae.e546b8","type":"inject","z":"cabc8ed1.36443","name":"Drop chronology","topic":"","payload":"DROP MEASUREMENT chronology","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1380,"wires":[["2db3ff2b.ef62e"]]},{"id":"389a3db9.ffb4a2","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001/Consigna","topic":"homie/termo001/termostato/consigna","qos":"1","datatype":"auto","broker":"7178966f.9a3d58","x":850,"y":1820,"wires":[["2f1da4dc.6f112c"]]},{"id":"fba90454.c0cb68","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001/Histeresis","topic":"homie/termo001/termostato/histeresis","qos":"0","datatype":"auto","broker":"7178966f.9a3d58","x":850,"y":1900,"wires":[["a0d9eacd.53f1d8"]]},{"id":"e777475f.ba3648","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001/Modo","topic":"homie/termo001/resistencia/modo","qos":"0","datatype":"auto","broker":"7178966f.9a3d58","x":840,"y":1960,"wires":[["7cea7206.6c1adc"]]},{"id":"24010894.828528","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001/temperatura","topic":"homie/termo001/termostato/temperatura","qos":"1","datatype":"auto","broker":"7178966f.9a3d58","x":120,"y":720,"wires":[["3266a95a.a0cec6","114ecb5c.b37fb5"]]},{"id":"3266a95a.a0cec6","type":"debug","z":"cabc8ed1.36443","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":660,"wires":[]},{"id":"8eca5b31.cd1928","type":"influxdb out","z":"cabc8ed1.36443","influxdb":"303eb12d.08bf0e","name":"Termo","measurement":"","precision":"","retentionPolicy":"","x":810,"y":780,"wires":[]},{"id":"114ecb5c.b37fb5","type":"function","z":"cabc8ed1.36443","name":"Convert to JSON","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n    msg.measurement=\"temperatura\";\n    msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":720,"wires":[["7b26b760.3061f8","a9dfc70f.6da3f8","f45a3b7a.6fa1a8"]]},{"id":"7b26b760.3061f8","type":"function","z":"cabc8ed1.36443","name":"parseTemp","func":"var tmp = msg.payload.value\nif(msg.payload.property==\"temperatura\"){\n    msg.payload.value = parseFloat(tmp);\n    node.status({'text':tmp});\n    \n\n    \n}\nelse{\n    msg='';\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["f131a14a.dc55e"]]},{"id":"6f81e5c8.1d03bc","type":"function","z":"cabc8ed1.36443","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = new Date();\n\nvar dt = new Date(msg.timestamp);\nvar newMsg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate()  ,\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'secs':     dt.getSeconds(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nvar tmp =''.concat(newMsg.day.toString(),'-',\n            newMsg.month.toString(),'-',\n            newMsg.year.toString(),' ',\n            newMsg.hours.toString(),':',\n            newMsg.mins.toString(),':',\n            newMsg.secs.toString());\n    node.status({'text':tmp});\n\nnewMsg.payload=tmp;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":830,"y":660,"wires":[["41d5f417.c4381c","cbbda015.fc7d2"]]},{"id":"41d5f417.c4381c","type":"debug","z":"cabc8ed1.36443","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":600,"wires":[]},{"id":"a9dfc70f.6da3f8","type":"function","z":"cabc8ed1.36443","name":"set timestamp","func":"msg.timestamp=msg.payload.time / 1000000;\nnode.status({'text':msg.timestamp});\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":660,"wires":[["6f81e5c8.1d03bc"]]},{"id":"f45a3b7a.6fa1a8","type":"delay","z":"cabc8ed1.36443","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":780,"wires":[["8eca5b31.cd1928"]]},{"id":"84637596.d03788","type":"ui_led","z":"cabc8ed1.36443","group":"ff90af17.3c404","order":6,"width":"0","height":"0","label":"Resistencia encendida","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"GREEN","value":"true","valueType":"str"}],"allowColorForValueInMessage":true,"name":"Resistencia encendida","x":880,"y":1160,"wires":[]},{"id":"8eb435c.5f88dc8","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001/resistencia","topic":"homie/termo001/resistencia/encendida","qos":"1","datatype":"auto","broker":"7178966f.9a3d58","x":120,"y":1160,"wires":[["52decdbd.5a9b94","d11b62a1.f0362"]]},{"id":"52decdbd.5a9b94","type":"debug","z":"cabc8ed1.36443","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":1100,"wires":[]},{"id":"d3254712.4ea4a8","type":"influxdb out","z":"cabc8ed1.36443","influxdb":"303eb12d.08bf0e","name":"Termo","measurement":"","precision":"","retentionPolicy":"","x":830,"y":1220,"wires":[]},{"id":"d11b62a1.f0362","type":"function","z":"cabc8ed1.36443","name":"Convert to JSON","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1];\n\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n\n        msg.measurement=\"resistencia\";\n        msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1160,"wires":[["6c0822dd.00045c","6e7f8a81.6761e4"]]},{"id":"6c0822dd.00045c","type":"function","z":"cabc8ed1.36443","name":"Resistencia","func":"\nif(msg.payload.node==='resistencia' && msg.payload.property==='encendida'){\n    node.status({'text':msg.payload.value});\n    msg.payload = msg.payload.value;\n    \n}\n\nelse{\n    msg='';\n    \n}\n\n\nreturn msg;    \n\n","outputs":1,"noerr":0,"x":630,"y":1160,"wires":[["84637596.d03788"]]},{"id":"6e7f8a81.6761e4","type":"delay","z":"cabc8ed1.36443","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1220,"wires":[["d3254712.4ea4a8"]]},{"id":"84e6225.a685fe","type":"mqtt in","z":"cabc8ed1.36443","name":"Termo001/caudal","topic":"homie/termo001/caudalimetro/caudal","qos":"1","datatype":"auto","broker":"7178966f.9a3d58","x":100,"y":940,"wires":[["591888c6.b979d8","9a714280.c9908"]]},{"id":"591888c6.b979d8","type":"debug","z":"cabc8ed1.36443","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":880,"wires":[]},{"id":"835ba7a4.977048","type":"influxdb out","z":"cabc8ed1.36443","influxdb":"303eb12d.08bf0e","name":"Termo","measurement":"","precision":"","retentionPolicy":"","x":830,"y":1000,"wires":[]},{"id":"9a714280.c9908","type":"function","z":"cabc8ed1.36443","name":"Convert to JSON","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1];\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n\n    msg.measurement=\"caudal\";\n    msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":940,"wires":[["ea3a215a.3e054","1589e72b.6d5109"]]},{"id":"ea3a215a.3e054","type":"function","z":"cabc8ed1.36443","name":"parseCaudalimetro","func":"var tmp = msg.payload.value\nif(msg.payload.property===\"caudal\"){\n    msg.payload.value = parseFloat(tmp);\n    node.status({'text':tmp});\n    \n\n    \n}\nelse{\n    msg='';\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":940,"wires":[["51047aaa.4d32e4"]]},{"id":"1589e72b.6d5109","type":"delay","z":"cabc8ed1.36443","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1000,"wires":[["835ba7a4.977048"]]},{"id":"51047aaa.4d32e4","type":"ui_gauge","z":"cabc8ed1.36443","name":"Gauge_Caudal_Real","group":"ff90af17.3c404","order":5,"width":"0","height":"0","gtype":"gage","title":"Caudal actual","label":"l/min","format":"{{msg.payload.value}}","min":0,"max":"100","colors":["#000000","#00ffff","#0000ff"],"seg1":"","seg2":"","x":880,"y":940,"wires":[]},{"id":"2b103663.bbd5fa","type":"inject","z":"cabc8ed1.36443","name":"Drop temperatura","topic":"","payload":"DROP MEASUREMENT temperatura","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1440,"wires":[["2db3ff2b.ef62e"]]},{"id":"6fc515c5.c6a55c","type":"inject","z":"cabc8ed1.36443","name":"Drop resistencia","topic":"","payload":"DROP MEASUREMENT resistencia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1580,"wires":[["2db3ff2b.ef62e"]]},{"id":"ccb30816.720ac8","type":"inject","z":"cabc8ed1.36443","name":"Drop caudalimetro","topic":"","payload":"DROP MEASUREMENT caudalimetro","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1500,"wires":[["2db3ff2b.ef62e"]]},{"id":"c5cb7591.e28b78","type":"comment","z":"cabc8ed1.36443","name":"Lectura de variables","info":"Lectura de variables","x":110,"y":440,"wires":[]},{"id":"7a158cc1.1baf74","type":"comment","z":"cabc8ed1.36443","name":"reset de tablas de la DB","info":"reset de tablas de la DB","x":140,"y":1320,"wires":[]},{"id":"b754354b.5ff968","type":"comment","z":"cabc8ed1.36443","name":"Control de regulación del termo","info":"Control de regulación del termo","x":170,"y":1740,"wires":[]},{"id":"cbbda015.fc7d2","type":"ui_text","z":"cabc8ed1.36443","group":"ff90af17.3c404","order":2,"width":0,"height":0,"name":"Última comunicación","label":"Última comunicación:","format":"{{msg.payload | uppercase}}","layout":"row-spread","x":1080,"y":660,"wires":[]},{"id":"ca3b8671.895fd8","type":"ui_text","z":"cabc8ed1.36443","group":"ff90af17.3c404","order":3,"width":0,"height":0,"name":"Estado memoria SD","label":"Estado SD:","format":"{{msg.payload | uppercase}} ","layout":"row-spread","x":340,"y":340,"wires":[]},{"id":"a0d9eacd.53f1d8","type":"ui_gauge","z":"cabc8ed1.36443","name":"Gauge_Histeresis","group":"e21e3eb2.e5a51","order":2,"width":0,"height":0,"gtype":"gage","title":"Histeresis","label":"°C","format":"{{value}}","min":"3","max":"20","colors":["#ffff00","#ffff00","#ffff00"],"seg1":"","seg2":"","x":1150,"y":1900,"wires":[]},{"id":"7cea7206.6c1adc","type":"ui_text","z":"cabc8ed1.36443","group":"e21e3eb2.e5a51","order":3,"width":0,"height":0,"name":"Modo Funcionamiento","label":"Modo funcionamiento:","format":"{{msg.payload | uppercase}}","layout":"row-spread","x":1160,"y":1960,"wires":[]},{"id":"b2e44e2.a25fbb","type":"ui_toast","z":"cabc8ed1.36443","position":"dialog","displayTime":"3","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta ","name":"Dialogo Alerta","x":620,"y":120,"wires":[[]]},{"id":"1f101fdf.227ff","type":"function","z":"cabc8ed1.36443","name":"","func":"\nif (msg.payload == \"Alert\"){\n    msg.payload=msg.payload\n    return msg;\n} else \n    msg.payload='';\n\n","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["b2e44e2.a25fbb"]]},{"id":"d237d1f4.3db2c","type":"comment","z":"cabc8ed1.36443","name":"Estado del Termo i de la SD","info":"Lectura de variables","x":140,"y":40,"wires":[]},{"id":"c01f87c0.4373d8","type":"mqtt out","z":"cabc8ed1.36443","name":"Pub_Consigna_Set","topic":"homie/termo001/sd/download","qos":"1","retain":"true","broker":"7178966f.9a3d58","x":830,"y":380,"wires":[]},{"id":"46fe6fdc.70a34","type":"function","z":"cabc8ed1.36443","name":"","func":"\nnode.status({'text':msg.payload});\nif (msg.payload == \"ready\"){\n    msg.payload=\"start\"\n    return msg;\n} else \n    msg.payload='';\n\n","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["c01f87c0.4373d8"]]},{"id":"7178966f.9a3d58","type":"mqtt-broker","z":"","name":"localhost","broker":"127.0.0.1","port":"8883","tls":"d40401eb.f855a","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"303eb12d.08bf0e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"TERMO","name":"TermoDB","usetls":false,"tls":"60271a13.e95ce4"},{"id":"961343ff.06e1a","type":"ui_group","z":"","name":"Edición de consignas","tab":"93ce8219.5f233","order":1,"disp":true,"width":"6","collapse":false},{"id":"e21e3eb2.e5a51","type":"ui_group","z":"","name":"Estado regulación termo","tab":"93ce8219.5f233","order":2,"disp":true,"width":"6","collapse":false},{"id":"ff90af17.3c404","type":"ui_group","z":"","name":"Estado termo","tab":"93ce8219.5f233","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c711447.bed99c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"TERMO","name":"","usetls":false,"tls":""},{"id":"9949ddaf.7556b","type":"mqtt-broker","z":"","name":"Mosquitto EC2","broker":"34.255.208.144","port":"1883","tls":"e53ff251.ba542","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"homie/Gateway/$state","birthQos":"0","birthPayload":"ready","closeTopic":"homie/Gateway/$state","closeQos":"0","closePayload":"disconnect","willTopic":"homie/Gateway/$state","willQos":"0","willPayload":"Error"},{"id":"d40401eb.f855a","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"60271a13.e95ce4","type":"tls-config","z":"","name":"TLS Mosquitto Raspberry","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":true},{"id":"93ce8219.5f233","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"e53ff251.ba542","type":"tls-config","z":"","name":"TLS Mosquitto Ec2","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false}]