servidorEc2.json
[{"id":"faadb18e.a1c8b","type":"tab","label":"TERMO","disabled":false,"info":""},{"id":"f9334194.67322","type":"debug","z":"faadb18e.a1c8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":340,"wires":[]},{"id":"db1ef08b.4de4c","type":"mqtt in","z":"faadb18e.a1c8b","name":"Termo001","topic":"homie/termo001/#","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":100,"y":400,"wires":[["d77c5f82.d3cea","69cd0298.57784c"]]},{"id":"69cd0298.57784c","type":"debug","z":"faadb18e.a1c8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":340,"wires":[]},{"id":"7fe4f39a.eeccec","type":"influxdb out","z":"faadb18e.a1c8b","influxdb":"f7526a42.35679","name":"Termo","measurement":"","precision":"","retentionPolicy":"","x":570,"y":400,"wires":[]},{"id":"d77c5f82.d3cea","type":"function","z":"faadb18e.a1c8b","name":"Convert to JSON","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1];\n\n/*switch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}*/\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n    if (timestamp == null) {\n\n        msg.measurement=\"chronology\";\n        msg.payload = {\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n        \n    } else {\n        msg=\"\";\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["f9334194.67322","7fe4f39a.eeccec"]]},{"id":"f44ad6b9.b012d8","type":"mqtt out","z":"faadb18e.a1c8b","name":"Pub_Consigna","topic":"homie/termo001/termostato/consigna/set","qos":"1","retain":"true","broker":"934e2221.c8bda8","x":960,"y":1500,"wires":[]},{"id":"258ae43.da1501c","type":"mqtt out","z":"faadb18e.a1c8b","name":"Pub_Histeresis","topic":"homie/termo001/termostato/histeresis/set","qos":"1","retain":"true","broker":"934e2221.c8bda8","x":760,"y":1960,"wires":[]},{"id":"b513f286.4ecef","type":"mqtt out","z":"faadb18e.a1c8b","name":"Pub_Resis_Modo","topic":"homie/termo001/resistencia/modoec2/set","qos":"2","retain":"true","broker":"934e2221.c8bda8","x":770,"y":2020,"wires":[]},{"id":"9495d2d2.6f146","type":"ui_slider","z":"faadb18e.a1c8b","name":"Histeresis","label":"Histeresis","tooltip":"","group":"19c78d02.bfb693","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"3","max":"20","step":1,"x":500,"y":1960,"wires":[["258ae43.da1501c"]]},{"id":"46a14e37.da361","type":"ui_led","z":"faadb18e.a1c8b","group":"c5bcce1a.e7ae8","order":4,"width":0,"height":0,"label":"Resistencia","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"green","value":"ON","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Resistencia","x":850,"y":840,"wires":[]},{"id":"6d766c2b.c2f864","type":"influxdb in","z":"faadb18e.a1c8b","influxdb":"f7526a42.35679","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":620,"y":1080,"wires":[[]]},{"id":"25d8113f.d928fe","type":"function","z":"faadb18e.a1c8b","name":"Query","func":"msg.query=msg.payload;\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["6d766c2b.c2f864"]]},{"id":"7f6d7e70.06e0c","type":"ui_text","z":"faadb18e.a1c8b","group":"c5bcce1a.e7ae8","order":1,"width":"5","height":"1","name":"Status","label":"Estado Gateway:","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":80,"wires":[]},{"id":"e3608f73.c83a3","type":"function","z":"faadb18e.a1c8b","name":"Status","func":"\nif (msg.payload!=\"ready\"){\n    msg.payload=msg.payload+\" - Displaying last known\"\n}\nnode.status({'text':msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["7f6d7e70.06e0c"]]},{"id":"9eb34c05.df32f","type":"mqtt in","z":"faadb18e.a1c8b","name":"","topic":"homie/Gateway/$state","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":140,"y":80,"wires":[["e3608f73.c83a3","669c5bf.a22c2a4"]]},{"id":"5137c45a.773bfc","type":"ui_dropdown","z":"faadb18e.a1c8b","name":"","label":"","tooltip":"","place":"Mode de funcionament","group":"d1bf2c1e.4bae7","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Automatic","value":"auto","type":"str"},{"label":"Manual paro","value":"manualOFF","type":"str"},{"label":"Manual marxa","value":"manualON","type":"str"}],"payload":"","topic":"Modo","x":500,"y":2020,"wires":[["b513f286.4ecef"]]},{"id":"28895212.b64d8e","type":"inject","z":"faadb18e.a1c8b","name":"Drop chronology","topic":"","payload":"DROP MEASUREMENT chronology","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1060,"wires":[["25d8113f.d928fe"]]},{"id":"482ae550.5f8fbc","type":"mqtt in","z":"faadb18e.a1c8b","name":"Sub_ConsignaSt","topic":"homie/termo001/termostato/consigna","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":120,"y":1640,"wires":[["724d55fc.54cdcc"]]},{"id":"a889147.e63f6e8","type":"mqtt in","z":"faadb18e.a1c8b","name":"Sub_HisteresisSt","topic":"homie/termo001/termostato/histeresis","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":100,"y":1960,"wires":[["9495d2d2.6f146"]]},{"id":"1a5f5858.d6ff18","type":"mqtt in","z":"faadb18e.a1c8b","name":"Sub_ModoSt","topic":"homie/termo001/resistencia/modo","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":90,"y":2020,"wires":[["d77faa00.39d5e8"]]},{"id":"fdb21c49.f6c6e","type":"mqtt in","z":"faadb18e.a1c8b","name":"Termo001/caudal","topic":"homie/termo001/caudalimetro/caudal","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":120,"y":700,"wires":[["7f3ffb7b.5481c4"]]},{"id":"7f3ffb7b.5481c4","type":"function","z":"faadb18e.a1c8b","name":"Convert to JSON","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n\n    msg.measurement=\"caudal\";\n    msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":700,"wires":[["74f6dfed.81fc2","b721a780.bbd638"]]},{"id":"74f6dfed.81fc2","type":"function","z":"faadb18e.a1c8b","name":"parseCaudalimetro","func":"var tmp = msg.payload.value\nif(msg.payload.property===\"caudal\"){\n    msg.payload.value = parseFloat(tmp);\n    node.status({'text':tmp});\n    \n\n    \n}\nelse{\n    msg='';\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":700,"wires":[[]]},{"id":"b721a780.bbd638","type":"influxdb out","z":"faadb18e.a1c8b","influxdb":"f7526a42.35679","name":"Termo/caudal","measurement":"","precision":"","retentionPolicy":"","x":600,"y":760,"wires":[]},{"id":"432897b0.18f1d8","type":"mqtt in","z":"faadb18e.a1c8b","name":"Termo001/resistencia","topic":"homie/termo001/resistencia/encendida","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":140,"y":840,"wires":[["b0ab63d1.23fe7","792b85ed.415c3c"]]},{"id":"b0ab63d1.23fe7","type":"function","z":"faadb18e.a1c8b","name":"Convert to JSON","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value='OFF';\n        break;\n    case 'true':\n        value='ON';\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n\n        msg.measurement=\"resistencia\";\n        msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":840,"wires":[["a1a39ca4.9e7ec","84ab6282.12925"]]},{"id":"a1a39ca4.9e7ec","type":"function","z":"faadb18e.a1c8b","name":"Resistencia","func":"\nif(msg.payload.node==='resistencia' && msg.payload.property==='encendida'){\n    node.status({'text':msg.payload.value});\n    msg.payload = msg.payload.value;\n    \n}\n\nelse{\n    msg='';\n    \n}\n\n\nreturn msg;    \n\n","outputs":1,"noerr":0,"x":570,"y":840,"wires":[["46a14e37.da361"]]},{"id":"84ab6282.12925","type":"influxdb out","z":"faadb18e.a1c8b","influxdb":"f7526a42.35679","name":"Termo/resistencia","measurement":"","precision":"","retentionPolicy":"","x":590,"y":900,"wires":[]},{"id":"fd545ac.c51e9a8","type":"inject","z":"faadb18e.a1c8b","name":"Drop temperatura","topic":"","payload":"DROP MEASUREMENT temperatura","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1100,"wires":[["25d8113f.d928fe"]]},{"id":"552b26cc.7b4348","type":"inject","z":"faadb18e.a1c8b","name":"Drop resistencia","topic":"","payload":"DROP MEASUREMENT resistencia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1140,"wires":[["25d8113f.d928fe"]]},{"id":"62cfc180.f2fcb","type":"inject","z":"faadb18e.a1c8b","name":"Drop caudalimetro","topic":"","payload":"DROP MEASUREMENT caudalimetro","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1180,"wires":[["25d8113f.d928fe"]]},{"id":"792b85ed.415c3c","type":"debug","z":"faadb18e.a1c8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":900,"wires":[]},{"id":"a98de8bc.510ea8","type":"mqtt in","z":"faadb18e.a1c8b","name":"","topic":"homie/termo001/$state","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":140,"y":200,"wires":[["920f0009.5ced9"]]},{"id":"920f0009.5ced9","type":"function","z":"faadb18e.a1c8b","name":"Status","func":"\nif (msg.payload!=\"ready\"){\n    msg.payload=msg.payload+\" - Displaying last known\"\n}\nnode.status({'text':msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["b85ac119.c9aea"]]},{"id":"b85ac119.c9aea","type":"ui_text","z":"faadb18e.a1c8b","group":"c5bcce1a.e7ae8","order":2,"width":"5","height":"1","name":"Status","label":"Estado Termo","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":200,"wires":[]},{"id":"d77faa00.39d5e8","type":"delay","z":"faadb18e.a1c8b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2020,"wires":[["5137c45a.773bfc"]]},{"id":"669c5bf.a22c2a4","type":"function","z":"faadb18e.a1c8b","name":"Convert to JSON","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1];\n\n/*switch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}*/\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n    if (timestamp == null) {\n\n        msg.measurement=\"chronology\";\n        msg.payload = {\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n        \n    } else {\n        msg=\"\";\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["6856b5c.7034f4c"]]},{"id":"6856b5c.7034f4c","type":"influxdb out","z":"faadb18e.a1c8b","influxdb":"f7526a42.35679","name":"Termo","measurement":"","precision":"","retentionPolicy":"","x":590,"y":140,"wires":[]},{"id":"dc015e31.8f59b","type":"ui_switch","z":"faadb18e.a1c8b","name":"","label":"Modo Eco","tooltip":"Modo Optimo - Modo Eco","group":"b62aea54.c9a358","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Selector","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":1500,"wires":[["906d0952.8a0c88"]]},{"id":"e61c22e8.c69a5","type":"function","z":"faadb18e.a1c8b","name":"tEco","func":"flow.set(\"tEco\",msg.payload);\nmsg.paidloads=true;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1380,"wires":[["17106eee.451401"]]},{"id":"cba1b738.2a2b38","type":"function","z":"faadb18e.a1c8b","name":"tOpt","func":"flow.set(\"tOpt\",msg.payload);\nmsg.paidloads=false;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1440,"wires":[["17106eee.451401"]]},{"id":"17106eee.451401","type":"function","z":"faadb18e.a1c8b","name":"Selector modo","func":"\nvar tOpt = flow.get(\"tEco\");\nvar tEco = flow.get(\"tOpt\");\n\nif(msg.payload===true){\n    \n    msg.payload= tOpt;\n    \n}else\n    msg.payload= tEco;\n    \n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1500,"wires":[["f44ad6b9.b012d8"]]},{"id":"4781e9cd.1c8e68","type":"ui_slider","z":"faadb18e.a1c8b","name":"T.Eco","label":"Temperatura eco","tooltip":"","group":"b62aea54.c9a358","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"T.Eco","min":"0","max":"80","step":1,"x":90,"y":1380,"wires":[["e61c22e8.c69a5"]]},{"id":"3bfcb5e5.0beafa","type":"ui_slider","z":"faadb18e.a1c8b","name":"T.Opt","label":"Temperatura optima","tooltip":"","group":"b62aea54.c9a358","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"T.Opt","min":"0","max":"80","step":1,"x":90,"y":1440,"wires":[["cba1b738.2a2b38"]]},{"id":"724d55fc.54cdcc","type":"ui_text","z":"faadb18e.a1c8b","group":"b62aea54.c9a358","order":3,"width":0,"height":0,"name":"","label":"Consigna actual","format":"{{msg.payload}}&degC","layout":"row-spread","x":560,"y":1640,"wires":[]},{"id":"e0fc1bf5.b246e8","type":"mqtt in","z":"faadb18e.a1c8b","name":"Sub_ModoSt","topic":"homie/termo001/resistencia/modo","qos":"1","datatype":"auto","broker":"934e2221.c8bda8","x":110,"y":1700,"wires":[["65101d1c.8b9984"]]},{"id":"65101d1c.8b9984","type":"ui_text","z":"faadb18e.a1c8b","group":"b62aea54.c9a358","order":2,"width":0,"height":0,"name":"","label":"Modo funcionamiento","format":"{{msg.payload|uppercase}}","layout":"row-spread","x":580,"y":1700,"wires":[]},{"id":"27ec67ac.ea0fa8","type":"comment","z":"faadb18e.a1c8b","name":"Reset de measurements de la base de datos","info":"","x":230,"y":1020,"wires":[]},{"id":"7c3ab148.e7011","type":"comment","z":"faadb18e.a1c8b","name":"Control modo eco o óptimo","info":"","x":150,"y":1320,"wires":[]},{"id":"1cc7cf94.2c9f","type":"ui_gauge","z":"faadb18e.a1c8b","name":"Gauge_Temperatura_Real","group":"c5bcce1a.e7ae8","order":3,"width":"3","height":"3","gtype":"gage","title":"Temp Actual","label":"°C","format":"{{msg.payload.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":560,"wires":[]},{"id":"7d7fcc1.d4bf534","type":"function","z":"faadb18e.a1c8b","name":"timeConvert","func":"//if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\nif ( !msg.timestamp ) msg.timestamp = new Date();\n\nvar dt = new Date(msg.timestamp);\nvar newMsg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate()  ,\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n// mes =msg.month\n// var n = mes.toString()\n// ano = msg.year\n    newMsg.payload =''.concat(newMsg.day.toString(),'-',\n            newMsg.month.toString(),'-',\n            newMsg.year.toString(),' ',\n            newMsg.hours.toString(),':',\n            newMsg.mins.toString());\n    node.status({'text':newMsg.payload });\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":910,"y":500,"wires":[["cf1fc403.e001a8"]]},{"id":"86d5982c.fdc638","type":"mqtt in","z":"faadb18e.a1c8b","name":"Termo001/temperatura","topic":"homie/termo001/termostato/temperatura","qos":"1","datatype":"utf8","broker":"934e2221.c8bda8","x":140,"y":560,"wires":[["3d07149c.b797ec","57dc0564.8b694c"]]},{"id":"57dc0564.8b694c","type":"function","z":"faadb18e.a1c8b","name":"Convert to JSON2","func":"\nvar tokens = msg.topic.split(\"/\");\nvar topicos= msg.topic;\nvar payload = msg.payload.split(\"@\");\n\nvar value = payload[0];\nvar timestamp = payload[1]*1000000000;\n\n\nswitch(payload[0])\n{\n    case 'auto':\n        value=0;\n        break;\n    case 'manualOFF':\n        value=1;\n        break;\n    case 'manualON':\n        value=2;\n        break;\n    case 'false':\n        value=0;\n        break;\n    case 'true':\n        value=1;\n        break;\n    default:\n        value = parseFloat(payload[0]);\n}\nif(topicos.includes('$')){\n    msg=\"\";\n}\nelse{\n    msg.measurement=\"temperatura\";\n    msg.payload = {\"time\":timestamp,\"device\":tokens[1],\"node\":tokens[2],\"property\":tokens[3],\"value\":value};\n\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["6212fbef.255aa4","793edae.2c9cf24","71614964.4ce7e8"]]},{"id":"793edae.2c9cf24","type":"function","z":"faadb18e.a1c8b","name":"parseTemp","func":"var tmp = msg.payload.value\nif(msg.payload.property==\"temperatura\"){\n    msg.payload.value = parseFloat(tmp);\n    node.status({'text':tmp});\n    \n\n    \n}\nelse{\n    msg='';\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["1cc7cf94.2c9f"]]},{"id":"6212fbef.255aa4","type":"function","z":"faadb18e.a1c8b","name":"set timestamp","func":"msg.timestamp=msg.payload.time / 1000000;\nnode.status({'text':msg.timestamp});\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["7d7fcc1.d4bf534"]]},{"id":"3d07149c.b797ec","type":"debug","z":"faadb18e.a1c8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":500,"wires":[]},{"id":"71614964.4ce7e8","type":"influxdb out","z":"faadb18e.a1c8b","influxdb":"f7526a42.35679","name":"Termo","measurement":"temperatura","precision":"","retentionPolicy":"","x":650,"y":620,"wires":[]},{"id":"cf1fc403.e001a8","type":"ui_text","z":"faadb18e.a1c8b","group":"b62aea54.c9a358","order":1,"width":0,"height":0,"name":"","label":"Última actualización","format":"{{msg.payload|uppercase}}","layout":"row-spread","x":1140,"y":500,"wires":[]},{"id":"bd2d6a79.35c7d8","type":"comment","z":"faadb18e.a1c8b","name":"Estados de la conexión","info":"","x":140,"y":40,"wires":[]},{"id":"16906573.3b21ab","type":"comment","z":"faadb18e.a1c8b","name":"Lectura de variables","info":"","x":130,"y":300,"wires":[]},{"id":"906d0952.8a0c88","type":"function","z":"faadb18e.a1c8b","name":"Selector","func":"msg.paidloads=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1500,"wires":[["17106eee.451401"]]},{"id":"934e2221.c8bda8","type":"mqtt-broker","z":"","name":"localhost Mosquitto","broker":"127.0.0.1","port":"1883","tls":"334ec591.70867a","clientid":"Ec2Mosquitto","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f7526a42.35679","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"GRAFANA","name":"","usetls":false,"tls":""},{"id":"19c78d02.bfb693","type":"ui_group","z":"","name":"Temperatura Deseada","tab":"3a10cbbc.e2a314","disp":true,"width":"6","collapse":false},{"id":"c5bcce1a.e7ae8","type":"ui_group","z":"","name":"Tiempo Real","tab":"3a10cbbc.e2a314","disp":true,"width":"6","collapse":false},{"id":"d1bf2c1e.4bae7","type":"ui_group","z":"","name":"Selector modo","tab":"3a10cbbc.e2a314","disp":true,"width":"6","collapse":true},{"id":"b62aea54.c9a358","type":"ui_group","z":"","name":"Control hogar","tab":"dd9c144d.e17418","order":1,"disp":true,"width":"6","collapse":false},{"id":"334ec591.70867a","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"3a10cbbc.e2a314","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":true},{"id":"dd9c144d.e17418","type":"ui_tab","z":"","name":"Control hogar","icon":"dashboard","order":3,"disabled":false,"hidden":false}]